@import '~bootstrap/dist/css/bootstrap.min.css';

ul {
  list-style: none;
  padding-left: 0;
}

.card {
  min-height: 230px;
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h2,
p {
  text-transform: capitalize;
}
