@import '~bootstrap/dist/css/bootstrap.min.css';

ul {
  list-style: none;
  padding-left: 0;
}

.card {
  min-height: 500px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
p {
  text-transform: capitalize;
}

.post-detail-img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
